<section>
	<p> Title: <%= review.title %> </p>
	<p> Author: <%= review.user.email %> </p>
	<p> <%= review.review %> </p>
	<p> Rating: <%= review.rating %> </p>

	<!-- Signed in user can only edit and delete the reviews they created. If statement to check if user is signed and and that they match the user id stored on the individual review, then the edit and delete buttons will be visible. -->
	<% if user_signed_in? %>

		<% if @product.user_id == current_user.id %>

		<%= link_to 'Edit', edit_product_review_path(review.product, review) %>
		<%= link_to 'Delete', product_review_path(review.product, review), method: :delete, data: { 
			confirm: "Are you sure?" } %>

		<% end %>
	<% end %>
</section>
