<h1> Tell us what you think! </h1>

<%= form_for @product do |f| %>

	<div class="form-group">
 	<%= f.fields_for :review do |rc_fields| %>
	   <%= rc_fields.text_field :title, placeholder: 'Title', class: "form-control" %><br>
	    <%= rc_fields.text_area :review, placeholder: 'Review', class: "form-control" %><br>
	    <%= rc_fields.number_field :rating, placeholder: 'Rating', class: "form-control" %><br>
	</div>
  		<%= f.submit "Submit Review", class: "btn btn-default" %>
  	<% end %>
<% end %>
<br>
<%= link_to 'Cancel and go back to Product', product_path(@product) %>